In [10]:
import pandas as pd
import numpy as np

from pyspark.sql import SparkSession
from pyspark.sql.functions import isnan, count, collect_list

In [3]:
sp = SparkSession.builder.appName("Check taxi clean-up").getOrCreate()
sp

22/08/17 16:25:53 WARN Utils: Your hostname, J-L resolves to a loopback address: 127.0.1.1; using 192.168.34.91 instead (on interface eth0)
22/08/17 16:25:53 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/08/17 16:25:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### Reading the processed data

In [37]:
df = sp.read.parquet("../data/curated/yellow/2020-7")
df.show(5)

+-------------------+-------------------+------------+------------+
|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|
+-------------------+-------------------+------------+------------+
|2020-07-01 10:25:32|2020-07-01 10:33:39|         238|          75|
|2020-07-01 10:15:11|2020-07-01 10:29:24|         230|          88|
|2020-07-01 10:30:49|2020-07-01 10:38:26|          88|         232|
|2020-07-01 10:31:26|2020-07-01 10:38:02|          37|          17|
|2020-07-01 10:09:00|2020-07-01 10:34:39|         140|          61|
+-------------------+-------------------+------------+------------+
only showing top 5 rows

In [38]:
df.count()

568980

### Reading the raw data

In [14]:
yellow = sp.read.parquet("../data/raw/yellow/yellow-2020-07.parquet")
yellow.show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2020-07-01 10:25:32|  2020-07-01 10:33:39|            1.0|          1.5|       1.0|                 N|         238|          75|           2|        8.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         9.3|                 0.0|       null|
|       1| 2020-07-01 10:03:19|  2020-07-01 10:25:43|            1.0|          9.5|       1.0|                 N|         138|         216|           1|       26.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        27.8|                 0.0|       null|
|       2| 2020-07-01 10:15:11|  2020-07-01 10:29:24|            1.0|         5.85|       1.0|                 N|         230|          88|           2|       18.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        22.3|                 2.5|       null|
|       2| 2020-07-01 10:30:49|  2020-07-01 10:38:26|            1.0|          1.9|       1.0|                 N|          88|         232|           1|        8.0|  0.5|    0.5|      2.36|         0.0|                  0.3|       14.16|                 2.5|       null|
|       2| 2020-07-01 10:31:26|  2020-07-01 10:38:02|            1.0|         1.25|       1.0|                 N|          37|          17|           2|        6.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         7.8|                 0.0|       null|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 5 rows

### Loading the functions used to check

In [11]:
bike_zones = pd.read_csv("../data/raw/citi/bike stations.csv")

def drop_unknown_values(data):
    """
    Function to drop values not present in the given data dictionary
    """
    data = data.filter((data["VendorID"] == 1) | (data["VendorID"] == 2))   # Filter vendorID
    payment_list = list(range(1, 7))
    data = data.filter((data["Payment_type"].isin(payment_list)))           # Filter payment type
    ratecode_list = [1, 4, 5]                                               # Do not consider airport or group rides
    data = data.filter((data["RateCodeID"].isin(ratecode_list)))            # Filter rate code

    return data

def filter_by_limits(data):
    """
    Function to filter values set by the domain of the research question
    """
    # Consider taxis that start and end in a zone with a citibike station
    data = filter_bike_zones(data)
    # Consider taxis with 1-4 passengers
    data = data.filter((data["passenger_count"] > 0) & (data["passenger_count"] < 5))
    # Consider trip distances of 25 miles or less
    data = data.filter((data["trip_distance"] > 0) & (data["trip_distance"] < 25))
    # Consider trips which start and end in different zones
    data = data.filter((data["PULocationID"] != data["DOLocationID"]))

    return data

def filter_bike_zones(data):
    """
    Filter pick up and drop off locations w.r.t. citibike station zones
    """
    zones_list = bike_zones["Taxi area code"].to_list()
    return data.filter((data["PULocationID"].isin(zones_list)) & (data["DOLocationID"].isin(zones_list)))

def drop_columns(data):
    """
    After using extra information to filter out the data, most of the columns are unncessary
    and therefore can be dropped
    """
    columns = ["tpep_pickup_datetime", "tpep_dropoff_datetime", "trip_distance", "PULocationID", "DOLocationID"]
    return data[[columns]]

In [39]:
drop_unknown_values(yellow).count()

NameError: name 'drop_unknown_values' is not defined

In [40]:
filter_by_limits(yellow).count()

NameError: name 'filter_by_limits' is not defined

The limits of the research question narrow it down quite a lot, almost 30-40% of the data is gone and also expected since there are limited zones, trip distances, and passenger counts

In [41]:
df.dtypes

[('pickup_datetime', 'timestamp'),
 ('dropoff_datetime', 'timestamp'),
 ('PULocationID', 'bigint'),
 ('DOLocationID', 'bigint')]

## Testing Green data

In [15]:
green_raw = sp.read.parquet("../data/raw/green/green-2021-01.parquet")
green_raw.show(5)

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2| 2021-01-01 11:15:56|  2021-01-01 11:19:52|                 N|       1.0|          43|         151|            1.0|         1.01|        5.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         6.8|         2.0|      1.0|                 0.0|
|       2| 2021-01-01 11:25:59|  2021-01-01 11:34:44|                 N|       1.0|         166|         239|            1.0|         2.53|       10.0|  0.5|    0.5|      2.81|         0.0|     null|                  0.3|       16.86|         1.0|      1.0|                2.75|
|       2| 2021-01-01 11:45:57|  2021-01-01 11:51:55|                 N|       1.0|          41|          42|            1.0|         1.12|        6.0|  0.5|    0.5|       1.0|         0.0|     null|                  0.3|         8.3|         1.0|      1.0|                 0.0|
|       2| 2021-01-01 10:57:51|  2021-01-01 11:04:56|                 N|       1.0|         168|          75|            1.0|         1.99|        8.0|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|         9.3|         2.0|      1.0|                 0.0|
|       2| 2021-01-01 11:16:36|  2021-01-01 11:16:40|                 N|       2.0|         265|         265|            3.0|          0.0|      -52.0|  0.0|   -0.5|       0.0|         0.0|     null|                 -0.3|       -52.8|         3.0|      1.0|                 0.0|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 5 rows

In [17]:
green_cur = sp.read.parquet("../data/curated/green/2021-1/")
green_cur.show(5)

+-------------------+-------------------+-------------+------------+------------+
|    pickup_datetime|   dropoff_datetime|trip_distance|PULocationID|DOLocationID|
+-------------------+-------------------+-------------+------------+------------+
|2021-01-01 11:15:56|2021-01-01 11:19:52|         1.01|          43|         151|
|2021-01-01 11:25:59|2021-01-01 11:34:44|         2.53|         166|         239|
|2021-01-01 11:45:57|2021-01-01 11:51:55|         1.12|          41|          42|
|2021-01-01 10:57:51|2021-01-01 11:04:56|         1.99|         168|          75|
|2021-01-01 11:35:13|2021-01-01 11:44:44|         2.34|          74|         238|
+-------------------+-------------------+-------------+------------+------------+
only showing top 5 rows

In [18]:
print(green_raw.count())
print(green_cur.count())

76518
24048

## Testing FHVHV data

In [4]:
uber_raw = sp.read.parquet("../data/raw/fhvhv/fhvhv-2021-06.parquet")
uber_raw.show(5)

+-----------------+--------------------+--------------------+-------------------+-------------------+-------------------+-------------------+------------+------------+----------+---------+-------------------+-----+----+---------+--------------------+-----------+----+----------+-------------------+-----------------+------------------+----------------+--------------+
|hvfhs_license_num|dispatching_base_num|originating_base_num|   request_datetime|  on_scene_datetime|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|trip_miles|trip_time|base_passenger_fare|tolls| bcf|sales_tax|congestion_surcharge|airport_fee|tips|driver_pay|shared_request_flag|shared_match_flag|access_a_ride_flag|wav_request_flag|wav_match_flag|
+-----------------+--------------------+--------------------+-------------------+-------------------+-------------------+-------------------+------------+------------+----------+---------+-------------------+-----+----+---------+--------------------+-----------+----+----------+-------------------+-----------------+------------------+----------------+--------------+
|           HV0003|              B02764|              B02764|2021-06-01 09:53:49|2021-06-01 10:02:23|2021-06-01 10:02:41|2021-06-01 10:07:46|         174|          18|       1.0|      305|               8.13|  0.0|0.24|     0.72|                 0.0|        0.0| 0.0|      7.03|                  N|                N|                  |               N|             N|
|           HV0003|              B02764|              B02764|2021-06-01 10:08:40|2021-06-01 10:15:20|2021-06-01 10:16:16|2021-06-01 10:21:14|          32|         254|      1.39|      298|               9.49|  0.0|0.28|     0.84|                 0.0|        0.0| 0.0|      9.03|                  N|                N|                  |               N|             N|
|           HV0003|              B02764|              B02764|2021-06-01 10:15:26|2021-06-01 10:24:48|2021-06-01 10:27:01|2021-06-01 10:42:11|         240|         127|      5.51|      910|              19.61|  0.0|0.59|     1.74|                 0.0|        0.0| 0.0|     15.34|                  N|                N|                  |               N|             N|
|           HV0003|              B02764|              B02764|2021-06-01 10:22:29|2021-06-01 10:44:48|2021-06-01 10:46:08|2021-06-01 10:53:45|         127|         235|       1.5|      457|                8.5|  0.0|0.26|     0.75|                 0.0|        0.0| 1.0|      9.13|                  N|                N|                  |               N|             N|
|           HV0005|              B02510|                null|2021-06-01 10:42:14|               null|2021-06-01 10:45:42|2021-06-01 11:03:33|         144|         146|     5.072|     1071|              30.35| 0.23|0.92|     2.71|                2.75|        0.0| 0.0|     18.21|                  N|                N|                 N|               N|             N|
+-----------------+--------------------+--------------------+-------------------+-------------------+-------------------+-------------------+------------+------------+----------+---------+-------------------+-----+----+---------+--------------------+-----------+----+----------+-------------------+-----------------+------------------+----------------+--------------+
only showing top 5 rows

In [19]:
uber_raw.count()

14961892

In [42]:
uber_cur = sp.read.parquet("../data/curated/fhvhv/2021-6/")
uber_cur.show(5)

+-------------------+-------------------+------------+------------+
|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|
+-------------------+-------------------+------------+------------+
|2021-06-01 10:45:42|2021-06-01 11:03:33|         144|         146|
|2021-06-01 10:18:15|2021-06-01 10:25:47|          49|          17|
|2021-06-01 10:33:06|2021-06-01 10:42:46|          49|         225|
|2021-06-01 10:46:27|2021-06-01 10:56:50|         225|         177|
|2021-06-01 10:48:06|2021-06-01 11:04:10|         209|          45|
+-------------------+-------------------+------------+------------+
only showing top 5 rows

In [21]:
uber_cur.count()

6245769

In [22]:
uber_cur.summary().show()

+-------+------------------+------------------+------------------+
|summary|     trip_distance|      PULocationID|      DOLocationID|
+-------+------------------+------------------+------------------+
|  count|           6245769|           6245769|           6245769|
|   mean|3.3048741889107878|143.51025550256503|144.27036366538692|
| stddev|2.4251145959589118| 77.23449225025823| 76.95879395429783|
|    min|             0.006|                 4|                 4|
|    25%|             1.576|                74|                75|
|    50%|             2.567|               146|               148|
|    75%|              4.32|               226|               226|
|    max|             24.99|               263|               263|
+-------+------------------+------------------+------------------+

## Check Citi Bike data

Check schemas and old vs new location ID differences

In [33]:
citi_jul20 = sp.read.option("header", True).csv("../data/raw/citi/202101-citibike-tripdata.csv")
citi_jul20.show(5)

+------------+--------------------+--------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+
|tripduration|           starttime|            stoptime|start station id|  start station name|start station latitude|start station longitude|end station id|    end station name|end station latitude|end station longitude|bikeid|  usertype|birth year|gender|
+------------+--------------------+--------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+
|        2513|2021-01-01 00:00:...|2021-01-01 00:42:...|            3581|Underhill Ave & L...|            40.6740123|            -73.9671457|          3581|Underhill Ave & L...|          40.6740123|          -73.9671457| 47812|  Customer|      1969|     0|
|        2519|2021-01-01 00:00:...|2021-01-01 00:42:...|            3581|Underhill Ave & L...|            40.6740123|            -73.9671457|          3581|Underhill Ave & L...|          40.6740123|          -73.9671457| 47571|  Customer|      1969|     0|
|        1207|2021-01-01 00:00:...|2021-01-01 00:20:...|            3144|  E 81 St & Park Ave|           40.77677702|            -73.9590097|          3724|7 Ave & Central P...|    40.7667405590595|    -73.9790689945221| 37451|Subscriber|      2002|     1|
|        2506|2021-01-01 00:00:...|2021-01-01 00:42:...|            3581|Underhill Ave & L...|            40.6740123|            -73.9671457|          3581|Underhill Ave & L...|          40.6740123|          -73.9671457| 48884|  Customer|      2002|     1|
|         959|2021-01-01 00:00:...|2021-01-01 00:16:...|             534|Water - Whitehall...|           40.70255065|            -74.0127234|           332|           Cherry St|         40.71219906|         -73.97948148| 26837|  Customer|      2002|     1|
+------------+--------------------+--------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+
only showing top 5 rows

In [34]:
citi_jul20.columns

['tripduration',
 'starttime',
 'stoptime',
 'start station id',
 'start station name',
 'start station latitude',
 'start station longitude',
 'end station id',
 'end station name',
 'end station latitude',
 'end station longitude',
 'bikeid',
 'usertype',
 'birth year',
 'gender']

In [24]:
citi_jan21 = sp.read.option("header", True).csv("../data/raw/citi/202101-citibike-tripdata.csv")
citi_jan21.show(5)

+------------+--------------------+--------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+
|tripduration|           starttime|            stoptime|start station id|  start station name|start station latitude|start station longitude|end station id|    end station name|end station latitude|end station longitude|bikeid|  usertype|birth year|gender|
+------------+--------------------+--------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+
|        2513|2021-01-01 00:00:...|2021-01-01 00:42:...|            3581|Underhill Ave & L...|            40.6740123|            -73.9671457|          3581|Underhill Ave & L...|          40.6740123|          -73.9671457| 47812|  Customer|      1969|     0|
|        2519|2021-01-01 00:00:...|2021-01-01 00:42:...|            3581|Underhill Ave & L...|            40.6740123|            -73.9671457|          3581|Underhill Ave & L...|          40.6740123|          -73.9671457| 47571|  Customer|      1969|     0|
|        1207|2021-01-01 00:00:...|2021-01-01 00:20:...|            3144|  E 81 St & Park Ave|           40.77677702|            -73.9590097|          3724|7 Ave & Central P...|    40.7667405590595|    -73.9790689945221| 37451|Subscriber|      2002|     1|
|        2506|2021-01-01 00:00:...|2021-01-01 00:42:...|            3581|Underhill Ave & L...|            40.6740123|            -73.9671457|          3581|Underhill Ave & L...|          40.6740123|          -73.9671457| 48884|  Customer|      2002|     1|
|         959|2021-01-01 00:00:...|2021-01-01 00:16:...|             534|Water - Whitehall...|           40.70255065|            -74.0127234|           332|           Cherry St|         40.71219906|         -73.97948148| 26837|  Customer|      2002|     1|
+------------+--------------------+--------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+------+----------+----------+------+
only showing top 5 rows

In [29]:
citi_jan21[citi_jan21.columns[:-6]].show()

+------------+--------------------+--------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+
|tripduration|           starttime|            stoptime|start station id|  start station name|start station latitude|start station longitude|end station id|    end station name|
+------------+--------------------+--------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+
|        2513|2021-01-01 00:00:...|2021-01-01 00:42:...|            3581|Underhill Ave & L...|            40.6740123|            -73.9671457|          3581|Underhill Ave & L...|
|        2519|2021-01-01 00:00:...|2021-01-01 00:42:...|            3581|Underhill Ave & L...|            40.6740123|            -73.9671457|          3581|Underhill Ave & L...|
|        1207|2021-01-01 00:00:...|2021-01-01 00:20:...|            3144|  E 81 St & Park Ave|           40.77677702|            -73.9590097|          3724|7 Ave & Central P...|
|        2506|2021-01-01 00:00:...|2021-01-01 00:42:...|            3581|Underhill Ave & L...|            40.6740123|            -73.9671457|          3581|Underhill Ave & L...|
|         959|2021-01-01 00:00:...|2021-01-01 00:16:...|             534|Water - Whitehall...|           40.70255065|            -74.0127234|           332|           Cherry St|
|        2447|2021-01-01 00:01:...|2021-01-01 00:42:...|             319|Fulton St & Broadway|             40.711066|             -74.009447|          3314|  W 95 St & Broadway|
|        1147|2021-01-01 00:01:...|2021-01-01 00:20:...|            3144|  E 81 St & Park Ave|           40.77677702|            -73.9590097|          3724|7 Ave & Central P...|
|        2426|2021-01-01 00:01:...|2021-01-01 00:42:...|            3581|Underhill Ave & L...|            40.6740123|            -73.9671457|          3581|Underhill Ave & L...|
|         128|2021-01-01 00:02:...|2021-01-01 00:04:...|            3294|  E 91 St & Park Ave|            40.7835016|             -73.955327|          3336|E 97 St & Madison...|
|         477|2021-01-01 00:02:...|2021-01-01 00:10:...|            3372|     E 74 St & 1 Ave|            40.7689738|           -73.95482273|          3391|    E 106 St & 1 Ave|
|        1324|2021-01-01 00:03:...|2021-01-01 00:25:...|            3301|Columbus Ave & W ...|            40.7919557|             -73.968087|          4044|     8 Ave & W 38 St|
|         781|2021-01-01 00:03:...|2021-01-01 00:16:...|             500|  Broadway & W 51 St|           40.76228826|           -73.98336183|           507|     E 25 St & 2 Ave|
|         439|2021-01-01 00:03:...|2021-01-01 00:10:...|            3739|Perry St & Greenw...|             40.735918|             -74.000939|          3256|Pier 40 - Hudson ...|
|         309|2021-01-01 00:03:...|2021-01-01 00:08:...|             356|Bialystoker Pl & ...|           40.71622644|           -73.98261206|           151|Cleveland Pl & Sp...|
|        1047|2021-01-01 00:03:...|2021-01-01 00:21:...|            3144|  E 81 St & Park Ave|           40.77677702|            -73.9590097|          3724|7 Ave & Central P...|
|        1639|2021-01-01 00:03:...|2021-01-01 00:31:...|             536|     1 Ave & E 30 St|           40.74144387|           -73.97536082|          3312|     1 Ave & E 94 St|
|         108|2021-01-01 00:04:...|2021-01-01 00:06:...|             317|   E 6 St & Avenue B|           40.72453734|           -73.98185424|           301|   E 2 St & Avenue B|
|        1200|2021-01-01 00:04:...|2021-01-01 00:24:...|             447|     8 Ave & W 52 St|           40.76370739|            -73.9851615|          3169|Riverside Dr & W ...|
|         192|2021-01-01 00:04:...|2021-01-01 00:07:...|            3131|     E 68 St & 3 Ave|     40.76712840349542|     -73.96224617958069|          3355|E 66 St & Madison...|
|         240|2021-01-01 00:04:...|2021-01-01 00:08:...|             447|     8 Ave & W 52 St|           40.76370739|            -73.9851615|           513|    W 56 St & 10 Ave|
+------------+--------------------+--------------------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+
only showing top 20 rows

In [32]:
citi_jan21.columns

['tripduration',
 'starttime',
 'stoptime',
 'start station id',
 'start station name',
 'start station latitude',
 'start station longitude',
 'end station id',
 'end station name',
 'end station latitude',
 'end station longitude',
 'bikeid',
 'usertype',
 'birth year',
 'gender']

In [35]:
citi_jan22 = sp.read.option("header", True).csv("../data/raw/citi/202201-citibike-tripdata.csv")
citi_jan22.show(5)

+----------------+-------------+-------------------+-------------------+--------------------+----------------+--------------------+--------------+------------------+------------------+------------------+------------------+-------------+
|         ride_id|rideable_type|         started_at|           ended_at|  start_station_name|start_station_id|    end_station_name|end_station_id|         start_lat|         start_lng|           end_lat|           end_lng|member_casual|
+----------------+-------------+-------------------+-------------------+--------------------+----------------+--------------------+--------------+------------------+------------------+------------------+------------------+-------------+
|55262E4365A955A2| classic_bike|2022-01-18 08:23:52|2022-01-18 08:28:18|Boerum Pl\t& Paci...|         4488.09|Clinton St & Jora...|       4605.04| 40.68848905639242|-73.99116039276123|       40.69239502|      -73.99337909|       member|
|D272F1B15D841EC0| classic_bike|2022-01-21 09:03:22|2022-01-21 09:05:44|     E 12 St & Ave C|         5616.08|  E 10 St & Avenue A|       5659.05|         40.727243|        -73.976831|       40.72740794|      -73.98142006|       member|
|D1FCEF55EB4A807F| classic_bike|2022-01-22 14:28:32|2022-01-22 14:53:18|     W 21 St & 6 Ave|         6140.05|    W 44 St & 11 Ave|       6756.05|       40.74173969|      -73.99415556|         40.762009|        -73.996975|       member|
|E9CBDC6A0162C068|electric_bike|2022-01-19 14:49:47|2022-01-19 14:54:02|      38 St & 30 Ave|         6850.01|Crescent St & 30 Ave|       6958.06|40.764174520197685|-73.91583994030952|         40.768692|       -73.9249574|       member|
|2177A5B57326CE9B|electric_bike|2022-01-16 14:36:06|2022-01-16 14:44:06|Pacific St & Nevi...|         4362.04|Clinton St & Till...|       4748.07|        40.6853761|      -73.98302136|40.696232971293156|-73.99142056703568|       member|
+----------------+-------------+-------------------+-------------------+--------------------+----------------+--------------------+--------------+------------------+------------------+------------------+------------------+-------------+
only showing top 5 rows

In [36]:
citi_jan22.columns

['ride_id',
 'rideable_type',
 'started_at',
 'ended_at',
 'start_station_name',
 'start_station_id',
 'end_station_name',
 'end_station_id',
 'start_lat',
 'start_lng',
 'end_lat',
 'end_lng',
 'member_casual']

In [31]:
zones = pd.read_csv("../data/raw/citi/bike stations.csv")
zones.head()

,id,name,latitude,longtitude,Taxi area code,new_id,new_latitude,new_longtitude
0,72,W 52 St & 11 Ave,40.767272,-73.993929,50,6926.01,40.767272,-73.993928
1,79,Franklin St & W Broadway,40.719116,-74.006667,231,5430.08,40.719116,-74.006667
2,82,St James Pl & Pearl St,40.711174,-74.000165,45,5167.06,40.711174,-74.000165
3,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,97,4354.07,40.683826,-73.976323
4,116,W 17 St & 8 Ave,40.741776,-74.001497,68,6148.02,40.741776,-74.001497

Check citi code

In [48]:
citi_jan22_cur = sp.read.option("header", True).csv("../data/curated/citi/2022-1/")
citi_jan22.show(5)

+----------------+-------------+-------------------+-------------------+--------------------+----------------+--------------------+--------------+------------------+------------------+------------------+------------------+-------------+
|         ride_id|rideable_type|         started_at|           ended_at|  start_station_name|start_station_id|    end_station_name|end_station_id|         start_lat|         start_lng|           end_lat|           end_lng|member_casual|
+----------------+-------------+-------------------+-------------------+--------------------+----------------+--------------------+--------------+------------------+------------------+------------------+------------------+-------------+
|55262E4365A955A2| classic_bike|2022-01-18 08:23:52|2022-01-18 08:28:18|Boerum Pl\t& Paci...|         4488.09|Clinton St & Jora...|       4605.04| 40.68848905639242|-73.99116039276123|       40.69239502|      -73.99337909|       member|
|D272F1B15D841EC0| classic_bike|2022-01-21 09:03:22|2022-01-21 09:05:44|     E 12 St & Ave C|         5616.08|  E 10 St & Avenue A|       5659.05|         40.727243|        -73.976831|       40.72740794|      -73.98142006|       member|
|D1FCEF55EB4A807F| classic_bike|2022-01-22 14:28:32|2022-01-22 14:53:18|     W 21 St & 6 Ave|         6140.05|    W 44 St & 11 Ave|       6756.05|       40.74173969|      -73.99415556|         40.762009|        -73.996975|       member|
|E9CBDC6A0162C068|electric_bike|2022-01-19 14:49:47|2022-01-19 14:54:02|      38 St & 30 Ave|         6850.01|Crescent St & 30 Ave|       6958.06|40.764174520197685|-73.91583994030952|         40.768692|       -73.9249574|       member|
|2177A5B57326CE9B|electric_bike|2022-01-16 14:36:06|2022-01-16 14:44:06|Pacific St & Nevi...|         4362.04|Clinton St & Till...|       4748.07|        40.6853761|      -73.98302136|40.696232971293156|-73.99142056703568|       member|
+----------------+-------------+-------------------+-------------------+--------------------+----------------+--------------------+--------------+------------------+------------------+------------------+------------------+-------------+
only showing top 5 rows

In [49]:
citi_jan22_cur = citi_jan22_cur.drop("member")

In [50]:
citi_jan22_cur.show(1)

+-------------------+-------------------+-------+-------+
|2022-01-28 17:12:46|2022-01-28 17:27:03|4519.04|3928.08|
+-------------------+-------------------+-------+-------+
|2022-01-04 22:12:48|2022-01-04 22:18:27|6140.05|5971.08|
+-------------------+-------------------+-------+-------+
only showing top 1 row

In [51]:
citi_jan22_cur.show(1)

+-------------------+-------------------+-------+-------+
|2022-01-28 17:12:46|2022-01-28 17:27:03|4519.04|3928.08|
+-------------------+-------------------+-------+-------+
|2022-01-04 22:12:48|2022-01-04 22:18:27|6140.05|5971.08|
+-------------------+-------------------+-------+-------+
only showing top 1 row