In [40]:
import os
import pandas as pd

from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.functions import col, to_timestamp, date_format, year, month, hour, dayofyear, dayofweek, expr

In [2]:
sp = SparkSession.builder.appName("Testing process").getOrCreate()
sp

22/08/18 21:16:35 WARN Utils: Your hostname, J-L resolves to a loopback address: 127.0.1.1; using 172.18.124.253 instead (on interface eth0)
22/08/18 21:16:35 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/08/18 21:16:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
from functools import reduce
from pyspark.sql import DataFrame

dir = "../data/curated/yellow/"
folder_locs = os.listdir(dir)

yellow_list = []
for folder in folder_locs:
    path = dir + "/" + folder
    yellow_list.append(sp.read.parquet(path))

yellow = reduce(DataFrame.unionAll, yellow_list)
yellow.show(5)

+-------------------+-------------------+------------+------------+
|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|
+-------------------+-------------------+------------+------------+
|2021-01-01 11:30:10|2021-01-01 11:36:12|         142|          43|
|2021-01-01 11:51:20|2021-01-01 11:52:19|         238|         151|
|2021-01-01 11:31:49|2021-01-01 11:48:21|          68|          33|
|2021-01-01 11:16:29|2021-01-01 11:24:30|         224|          68|
|2021-01-01 11:12:29|2021-01-01 11:30:34|          90|          40|
+-------------------+-------------------+------------+------------+
only showing top 5 rows

In [5]:
yellow.count()

38822801

In [6]:
dir = "../data/curated/green/"
folder_locs = os.listdir(dir)

green_list = []
for folder in folder_locs:
    path = dir + "/" + folder
    green_list.append(sp.read.parquet(path))

green = reduce(DataFrame.unionAll, green_list)
green.show(5)

+-------------------+-------------------+------------+------------+
|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|
+-------------------+-------------------+------------+------------+
|2021-01-01 11:15:56|2021-01-01 11:19:52|          43|         151|
|2021-01-01 11:25:59|2021-01-01 11:34:44|         166|         239|
|2021-01-01 11:45:57|2021-01-01 11:51:55|          41|          42|
|2021-01-01 10:57:51|2021-01-01 11:04:56|         168|          75|
|2021-01-01 11:35:13|2021-01-01 11:44:44|          74|         238|
+-------------------+-------------------+------------+------------+
only showing top 5 rows

In [7]:
green.count()

672658

In [8]:
dir = "../data/curated/fhvhv/"
folder_locs = os.listdir(dir)

uber_list = []
for folder in folder_locs:
    path = dir + "/" + folder
    uber_list.append(sp.read.parquet(path))

uber = reduce(DataFrame.unionAll, uber_list)
uber.show(5)

+-------------------+-------------------+------------+------------+
|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|
+-------------------+-------------------+------------+------------+
|2021-01-01 11:33:44|2021-01-01 11:49:07|         230|         166|
|2021-01-01 11:23:56|2021-01-01 11:38:05|         233|         142|
|2021-01-01 11:42:51|2021-01-01 11:45:50|         142|         143|
|2021-01-01 11:06:59|2021-01-01 11:43:01|          88|          42|
|2021-01-01 11:50:00|2021-01-01 12:04:57|          42|         151|
+-------------------+-------------------+------------+------------+
only showing top 5 rows

In [9]:
uber.count()

128168181

In [39]:
dir = "../data/curated/citi/"
folder_locs = os.listdir(dir)

citi_list = []
for folder in folder_locs:
    path = dir + "/" + folder
    citi_list.append(sp.read.parquet(path))

citi = reduce(DataFrame.unionAll, citi_list)
citi.show(5)

+--------------------+--------------------+------------+------------+
|          started_at|            ended_at|PULocationID|DOLocationID|
+--------------------+--------------------+------------+------------+
|2021-01-09 14:13:...|2021-01-09 14:24:...|         164|         211|
|2021-01-09 14:17:...|2021-01-09 14:24:...|         164|         100|
|2021-01-09 14:19:...|2021-01-09 14:30:...|         164|          68|
|2021-01-09 14:23:...|2021-01-09 14:32:...|         164|         107|
|2021-01-09 14:27:...|2021-01-09 14:38:...|         164|         107|
+--------------------+--------------------+------------+------------+
only showing top 5 rows

In [14]:
citi.count()

33561277

22/08/19 01:26:58 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 12645962 ms exceeds timeout 120000 ms
22/08/19 01:26:58 WARN SparkContext: Killing executors is not supported by current scheduler.

In [15]:
taxis = reduce(DataFrame.unionAll, [yellow, green, uber])
taxis.show(10)
taxis.count()

+-------------------+-------------------+------------+------------+
|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|
+-------------------+-------------------+------------+------------+
|2021-01-01 11:30:10|2021-01-01 11:36:12|         142|          43|
|2021-01-01 11:51:20|2021-01-01 11:52:19|         238|         151|
|2021-01-01 11:31:49|2021-01-01 11:48:21|          68|          33|
|2021-01-01 11:16:29|2021-01-01 11:24:30|         224|          68|
|2021-01-01 11:12:29|2021-01-01 11:30:34|          90|          40|
|2021-01-01 11:26:12|2021-01-01 11:39:46|         263|         142|
|2021-01-01 11:15:52|2021-01-01 11:38:07|         164|         255|
|2021-01-01 11:46:36|2021-01-01 11:53:45|         255|          80|
|2021-01-01 11:17:48|2021-01-01 11:21:55|         236|         237|
|2021-01-01 11:33:38|2021-01-01 11:38:37|         142|         239|
+-------------------+-------------------+------------+------------+
only showing top 10 rows

167663640

In [ ]:
data = sp.read.parquet("../data/processed/merged/")
data.show(3)

In [ ]:
print("Data count before dropping null values")
print(data.count())
print("Data count after dropping null values")
data.dropna().count()

As seen above, there are no null values and the data has been merged successfully

### Process time difference and extract date features

In [34]:
# Perform feature engineering
time_diff = col("dropoff_datetime").cast("long") - col("pickup_datetime").cast("long")
sample = taxis.sample(0.01, 123)
taxi_process = (
    sample
    .withColumn("year", year(sample.pickup_datetime))
    .withColumn("month", month(sample.pickup_datetime))
    .withColumn("day", dayofweek(sample.pickup_datetime))
    .withColumn("time_bin", hour(taxis.pickup_datetime))
    .withColumn("trip_duration", time_diff)
)

taxi_process.show(5)

+-------------------+-------------------+------------+------------+----+-----+---+--------+-------------+
|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|year|month|day|time_bin|trip_duration|
+-------------------+-------------------+------------+------------+----+-----+---+--------+-------------+
|2021-01-01 11:23:24|2021-01-01 11:34:29|         140|         142|2021|    1|  1|      11|          665|
|2021-01-01 11:11:28|2021-01-01 11:38:24|         113|         228|2021|    1|  1|      11|         1616|
|2021-01-01 11:38:04|2021-01-01 11:47:02|         107|         262|2021|    1|  1|      11|          538|
|2021-01-01 11:07:52|2021-01-01 11:10:42|          43|         237|2021|    1|  1|      11|          170|
|2021-01-01 11:25:04|2021-01-01 11:30:16|         230|         142|2021|    1|  1|      11|          312|
+-------------------+-------------------+------------+------------+----+-----+---+--------+-------------+
only showing top 5 rows

Merge on group by

In [50]:
taxi_process.groupBy(["year", "month", "day", "time_bin"]).count().show(50)

+----+-----+---+--------+-----+
|year|month|day|time_bin|count|
+----+-----+---+--------+-----+
|2021|    1|  2|      11|   35|
|2021|    1|  4|      10|   40|
|2021|    1|  8|       4|  134|
|2021|    1| 15|      12|   13|
|2021|    1| 28|       4|  129|
|2021|    1| 30|       1|  127|
|2021|    1| 11|      23|   71|
|2021|    1| 20|      16|   20|
|2021|    1| 28|       8|   74|
|2021|    1|  3|       9|   74|
|2021|    1| 23|       3|  143|
|2021|    1| 29|       6|  141|
|2021|    1| 29|      22|  125|
|2021|    1| 15|       5|  128|
|2021|    1|  8|      21|   85|
|2021|    1|  5|       8|   41|
|2021|    1| 12|       6|   79|
|2021|    1| 29|      17|   48|
|2021|    1|  4|      20|   85|
|2021|    1| 21|       5|  146|
|2021|    1| 23|      18|   32|
|2021|    1|  6|      16|   19|
|2021|    1| 11|      16|   13|
|2021|    1| 26|       7|   68|
|2021|    1| 29|      12|   27|
|2021|    1|  8|      19|   82|
|2021|    1|  3|      13|   25|
|2021|    1|  5|       7|   45|
|2021|    1|  7|       1|  102|
|2021|    1| 26|      12|    8|
|2021|    1| 14|       4|  121|
|2021|    1| 24|      16|   12|
|2021|    1|  7|      11|   24|
|2021|    1| 13|      23|   82|
|2021|    1| 18|       4|  109|
|2021|    1| 21|      11|   29|
|2021|    2| 32|       2|  132|
|2021|    1| 15|       0|   89|
|2021|    1| 20|       5|  126|
|2021|    1| 23|       4|  164|
|2021|    1| 26|      19|  149|
|2021|    1| 28|      22|  109|
|2021|    1| 16|       8|  122|
|2021|    1| 16|      18|   40|
|2021|    2| 32|       3|  140|
|2021|    1|  3|       1|   96|
|2021|    1| 24|      11|   66|
|2021|    1| 30|      22|  128|
|2021|    1| 16|      12|   52|
|2021|    1| 29|      14|    9|
+----+-----+---+--------+-----+
only showing top 50 rows

Use the sample dataframe to merge weather data

In [102]:
weather2 = sp.read.option("header", True).option("inferSchema", True).csv("../data/raw/weather/weather.csv")
weather2.show(5)

+-------------------+--------+-----------+---------+--------+----------+---------+--------+-------------+-------------+
|               Date|Time bin|Temperature|Dew Point|Humidity|Wind Speed|Wind Gust|Pressure|Precipitation|    Condition|
+-------------------+--------+-----------+---------+--------+----------+---------+--------+-------------+-------------+
|2020-07-01 00:00:00|       0|       70.0|     65.0|    84.0|       6.0|      0.0|    29.9|          0.0|Partly Cloudy|
|2020-07-01 00:00:00|       1|       70.0|     65.0|    84.0|       5.0|      0.0|    29.9|          0.0|Mostly Cloudy|
|2020-07-01 00:00:00|       2|       70.0|     65.0|    84.0|       7.0|      0.0|    29.8|          0.0|Mostly Cloudy|
|2020-07-01 00:00:00|       3|       69.0|     65.0|    87.0|       3.0|      0.0|    29.8|          0.0|Mostly Cloudy|
|2020-07-01 00:00:00|       4|       69.0|     65.0|    87.0|       3.0|      0.0|    29.9|          0.0|Mostly Cloudy|
+-------------------+--------+-----------+---------+--------+----------+---------+--------+-------------+-------------+
only showing top 5 rows

In [122]:
weather = sp.read.option("header", True).option("inferSchema", True).csv("../data/raw/weather/weather.csv")
weather = weather.withColumnRenamed("Time bin", "time_bin")
weather = (weather
    .withColumn("year", year(weather.Date))
    .withColumn("month", month(weather.Date))
    .withColumn("day", dayofyear(weather.Date))
)
weather.show(5)

+-------------------+--------+-----------+---------+--------+----------+---------+--------+-------------+-------------+----+-----+---+
|               Date|time_bin|Temperature|Dew Point|Humidity|Wind Speed|Wind Gust|Pressure|Precipitation|    Condition|year|month|day|
+-------------------+--------+-----------+---------+--------+----------+---------+--------+-------------+-------------+----+-----+---+
|2020-07-01 00:00:00|       0|       70.0|     65.0|    84.0|       6.0|      0.0|    29.9|          0.0|Partly Cloudy|2020|    7|183|
|2020-07-01 00:00:00|       1|       70.0|     65.0|    84.0|       5.0|      0.0|    29.9|          0.0|Mostly Cloudy|2020|    7|183|
|2020-07-01 00:00:00|       2|       70.0|     65.0|    84.0|       7.0|      0.0|    29.8|          0.0|Mostly Cloudy|2020|    7|183|
|2020-07-01 00:00:00|       3|       69.0|     65.0|    87.0|       3.0|      0.0|    29.8|          0.0|Mostly Cloudy|2020|    7|183|
|2020-07-01 00:00:00|       4|       69.0|     65.0|    87.0|       3.0|      0.0|    29.9|          0.0|Mostly Cloudy|2020|    7|183|
+-------------------+--------+-----------+---------+--------+----------+---------+--------+-------------+-------------+----+-----+---+
only showing top 5 rows

In [123]:
weather.dtypes

[('Date', 'timestamp'),
 ('time_bin', 'int'),
 ('Temperature', 'double'),
 ('Dew Point', 'double'),
 ('Humidity', 'double'),
 ('Wind Speed', 'double'),
 ('Wind Gust', 'double'),
 ('Pressure', 'double'),
 ('Precipitation', 'double'),
 ('Condition', 'string'),
 ('year', 'int'),
 ('month', 'int'),
 ('day', 'int')]

Check why bikes is not able to provide trip duration

In [82]:
dir = "../data/curated/citi/"
folder_locs = os.listdir(dir)

citi_list = []
for folder in folder_locs:
    path = dir + "/" + folder
    citi_list.append(sp.read.option("inferSchema", True).parquet(path))

citi = reduce(DataFrame.unionAll, citi_list)
citi.show(5)

+--------------------+--------------------+------------+------------+
|          started_at|            ended_at|PULocationID|DOLocationID|
+--------------------+--------------------+------------+------------+
|2021-01-05 17:35:...|2021-01-05 18:01:...|         164|           7|
|2021-01-05 17:38:...|2021-01-05 17:43:...|         164|         107|
|2021-01-05 17:51:...|2021-01-05 18:01:...|          37|         225|
|2021-01-05 17:52:...|2021-01-05 17:59:...|         164|          68|
|2021-01-05 17:54:...|2021-01-05 18:10:...|          37|         256|
+--------------------+--------------------+------------+------------+
only showing top 5 rows

In [83]:
citi.dtypes

[('started_at', 'timestamp'),
 ('ended_at', 'timestamp'),
 ('PULocationID', 'bigint'),
 ('DOLocationID', 'bigint')]

In [90]:
def match_columns(citi):
    """
    Function for citibike data to match the same columns names so 
    it can go through the same feature processing
    """
    citi = citi.withColumnRenamed("started_at", "pickup_datetime")
    return citi.withColumnRenamed("ended_at", "dropoff_datetime")

In [91]:
citi = match_columns(citi)
citi.show(5)

+--------------------+--------------------+------------+------------+
|     pickup_datetime|    dropoff_datetime|PULocationID|DOLocationID|
+--------------------+--------------------+------------+------------+
|2021-01-05 17:35:...|2021-01-05 18:01:...|         164|           7|
|2021-01-05 17:38:...|2021-01-05 17:43:...|         164|         107|
|2021-01-05 17:51:...|2021-01-05 18:01:...|          37|         225|
|2021-01-05 17:52:...|2021-01-05 17:59:...|         164|          68|
|2021-01-05 17:54:...|2021-01-05 18:10:...|          37|         256|
+--------------------+--------------------+------------+------------+
only showing top 5 rows

Merge citi and weather data

In [98]:
def datetime_features(data):
    """
    Function to extract features directly from the datetime object
    """
    processed = (
        data
        .withColumn("year", year(data.pickup_datetime))
        .withColumn("month", month(data.pickup_datetime))
        .withColumn("day", dayofyear(data.pickup_datetime))
        .withColumn("time_bin", hour(data.pickup_datetime))
    )
    return processed

In [99]:
citi_sample = citi.sample(0.001)

# Process datetime columns
citi_sample = datetime_features(citi_sample)

citi_sample.show(5)
weather.show(5)

+--------------------+--------------------+------------+------------+----+-----+---+--------+
|     pickup_datetime|    dropoff_datetime|PULocationID|DOLocationID|year|month|day|time_bin|
+--------------------+--------------------+------------+------------+----+-----+---+--------+
|2021-01-07 15:26:...|2021-01-07 15:44:...|         142|          74|2021|    1|  7|      15|
|2021-01-08 18:20:...|2021-01-08 18:29:...|         256|          80|2021|    1|  8|      18|
|2021-01-09 01:19:...|2021-01-09 01:24:...|         256|         255|2021|    1|  9|       1|
|2021-01-07 08:10:...|2021-01-07 08:13:...|         236|         237|2021|    1|  7|       8|
|2021-01-07 19:03:...|2021-01-07 19:20:...|          33|         195|2021|    1|  7|      19|
+--------------------+--------------------+------------+------------+----+-----+---+--------+
only showing top 5 rows

+-------------------+--------+-----------+---------+--------+----------+---------+--------+-------------+-------------+----+-----+---+
|               Date|time_bin|Temperature|Dew Point|Humidity|Wind Speed|Wind Gust|Pressure|Precipitation|    Condition|year|month|day|
+-------------------+--------+-----------+---------+--------+----------+---------+--------+-------------+-------------+----+-----+---+
|2020-07-01 00:00:00|       0|       70.0|     65.0|    84.0|       6.0|      0.0|    29.9|          0.0|Partly Cloudy|2020|    7|183|
|2020-07-01 00:00:00|       0|       70.0|     65.0|    84.0|       5.0|      0.0|    29.9|          0.0|Mostly Cloudy|2020|    7|183|
|2020-07-01 00:00:00|       0|       70.0|     65.0|    84.0|       7.0|      0.0|    29.8|          0.0|Mostly Cloudy|2020|    7|183|
|2020-07-01 00:00:00|       0|       69.0|     65.0|    87.0|       3.0|      0.0|    29.8|          0.0|Mostly Cloudy|2020|    7|183|
|2020-07-01 00:00:00|       0|       69.0|     65.0|    87.0|       3.0|      0.0|    29.9|          0.0|Mostly Cloudy|2020|    7|183|
+-------------------+--------+-----------+---------+--------+----------+---------+--------+-------------+-------------+----+-----+---+
only showing top 5 rows

In [101]:
merged = citi_sample.join(weather, ["year", "month", "day", "time_bin"], how="left")
merged.show(10)

+----+-----+---+--------+--------------------+--------------------+------------+------------+----+-----------+---------+--------+----------+---------+--------+-------------+---------+
|year|month|day|time_bin|     pickup_datetime|    dropoff_datetime|PULocationID|DOLocationID|Date|Temperature|Dew Point|Humidity|Wind Speed|Wind Gust|Pressure|Precipitation|Condition|
+----+-----+---+--------+--------------------+--------------------+------------+------------+----+-----------+---------+--------+----------+---------+--------+-------------+---------+
|2021|    1|  7|      15|2021-01-07 15:26:...|2021-01-07 15:44:...|         142|          74|null|       null|     null|    null|      null|     null|    null|         null|     null|
|2021|    1|  8|      18|2021-01-08 18:20:...|2021-01-08 18:29:...|         256|          80|null|       null|     null|    null|      null|     null|    null|         null|     null|
|2021|    1|  9|       1|2021-01-09 01:19:...|2021-01-09 01:24:...|         256|         255|null|       null|     null|    null|      null|     null|    null|         null|     null|
|2021|    1|  7|       8|2021-01-07 08:10:...|2021-01-07 08:13:...|         236|         237|null|       null|     null|    null|      null|     null|    null|         null|     null|
|2021|    1|  7|      19|2021-01-07 19:03:...|2021-01-07 19:20:...|          33|         195|null|       null|     null|    null|      null|     null|    null|         null|     null|
|2021|    1|  8|      10|2021-01-08 10:04:...|2021-01-08 10:19:...|         263|          48|null|       null|     null|    null|      null|     null|    null|         null|     null|
|2021|    1|  8|      17|2021-01-08 17:20:...|2021-01-08 17:27:...|         148|          79|null|       null|     null|    null|      null|     null|    null|         null|     null|
|2021|    1|  8|      19|2021-01-08 19:17:...|2021-01-08 19:41:...|          43|          75|null|       null|     null|    null|      null|     null|    null|         null|     null|
|2021|    1|  9|      13|2021-01-09 13:43:...|2021-01-09 13:56:...|         148|         256|null|       null|     null|    null|      null|     null|    null|         null|     null|
|2021|    1|  9|      14|2021-01-09 14:07:...|2021-01-09 14:27:...|          37|          34|null|       null|     null|    null|      null|     null|    null|         null|     null|
+----+-----+---+--------+--------------------+--------------------+------------+------------+----+-----------+---------+--------+----------+---------+--------+-------------+---------+
only showing top 10 rows

In [73]:
from pyspark.sql.functions import to_date, to_timestamp

In [84]:
weather.show(5)

+----------+--------+-----------+---------+--------+----------+---------+--------+-------------+-------------+----+-----+---+
|      Date|Time_bin|Temperature|Dew Point|Humidity|Wind Speed|Wind Gust|Pressure|Precipitation|    Condition|Year|Month|Day|
+----------+--------+-----------+---------+--------+----------+---------+--------+-------------+-------------+----+-----+---+
|2020-07-01|       0|       70.0|     65.0|    84.0|       6.0|      0.0|    29.9|          0.0|Partly Cloudy|2020|    7|183|
|2020-07-01|       0|       70.0|     65.0|    84.0|       5.0|      0.0|    29.9|          0.0|Mostly Cloudy|2020|    7|183|
|2020-07-01|       0|       70.0|     65.0|    84.0|       7.0|      0.0|    29.8|          0.0|Mostly Cloudy|2020|    7|183|
|2020-07-01|       0|       69.0|     65.0|    87.0|       3.0|      0.0|    29.8|          0.0|Mostly Cloudy|2020|    7|183|
|2020-07-01|       0|       69.0|     65.0|    87.0|       3.0|      0.0|    29.9|          0.0|Mostly Cloudy|2020|    7|183|
+----------+--------+-----------+---------+--------+----------+---------+--------+-------------+-------------+----+-----+---+
only showing top 5 rows

In [85]:
weather.dtypes

[('Date', 'string'),
 ('Time_bin', 'int'),
 ('Temperature', 'string'),
 ('Dew Point', 'string'),
 ('Humidity', 'string'),
 ('Wind Speed', 'string'),
 ('Wind Gust', 'string'),
 ('Pressure', 'string'),
 ('Precipitation', 'string'),
 ('Condition', 'string'),
 ('Year', 'int'),
 ('Month', 'int'),
 ('Day', 'int')]

In [110]:
from pyspark.ml.feature import OneHotEncoder, StringIndexer
#from pyspark import SQLContext

df = sp.createDataFrame([
  (0, "a"),
  (1, "b"),
  (2, "c"),
  (3, "a"),
  (4, "a"),
  (5, "c")
], ["id", "category"])

stringIndexer = StringIndexer(inputCol="category", outputCol="categoryIndex")
model = stringIndexer.fit(df)
indexed = model.transform(df)
encoder = OneHotEncoder(inputCol="categoryIndex", outputCol="categoryVec", dropLast=True)
encoded = encoder.fit(indexed).transform(indexed)
encoded.show()

+---+--------+-------------+-------------+
| id|category|categoryIndex|  categoryVec|
+---+--------+-------------+-------------+
|  0|       a|          0.0|(2,[0],[1.0])|
|  1|       b|          2.0|    (2,[],[])|
|  2|       c|          1.0|(2,[1],[1.0])|
|  3|       a|          0.0|(2,[0],[1.0])|
|  4|       a|          0.0|(2,[0],[1.0])|
|  5|       c|          1.0|(2,[1],[1.0])|
+---+--------+-------------+-------------+

In [107]:
df.show()

+---+--------+
| id|category|
+---+--------+
|  0|       a|
|  1|       b|
|  2|       c|
|  3|       a|
|  4|       a|
|  5|       c|
+---+--------+

In [135]:
weather = sp.read.option("header", True).option("inferSchema", True).csv("../data/raw/weather/weather.csv")
weather = weather.withColumnRenamed("Time bin", "time_bin")
weather = (weather
    .withColumn("year", year(weather.Date))
    .withColumn("month", month(weather.Date))
    .withColumn("day", dayofyear(weather.Date))
)
weather.show(5)

+-------------------+--------+-----------+---------+--------+----------+---------+--------+-------------+-------------+----+-----+---+
|               Date|time_bin|Temperature|Dew Point|Humidity|Wind Speed|Wind Gust|Pressure|Precipitation|    Condition|year|month|day|
+-------------------+--------+-----------+---------+--------+----------+---------+--------+-------------+-------------+----+-----+---+
|2020-07-01 00:00:00|       0|       70.0|     65.0|    84.0|       6.0|      0.0|    29.9|          0.0|Partly Cloudy|2020|    7|183|
|2020-07-01 00:00:00|       1|       70.0|     65.0|    84.0|       5.0|      0.0|    29.9|          0.0|Mostly Cloudy|2020|    7|183|
|2020-07-01 00:00:00|       2|       70.0|     65.0|    84.0|       7.0|      0.0|    29.8|          0.0|Mostly Cloudy|2020|    7|183|
|2020-07-01 00:00:00|       3|       69.0|     65.0|    87.0|       3.0|      0.0|    29.8|          0.0|Mostly Cloudy|2020|    7|183|
|2020-07-01 00:00:00|       4|       69.0|     65.0|    87.0|       3.0|      0.0|    29.9|          0.0|Mostly Cloudy|2020|    7|183|
+-------------------+--------+-----------+---------+--------+----------+---------+--------+-------------+-------------+----+-----+---+
only showing top 5 rows